#timeline{
    
    width:100%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;

}
#monthlist{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:900px;
    margin-top:200px;
}
.month{
    width:60px;
    background:#eeeeee;
    padding:20px;
    font-size:23pt;
 font-family:'Economica', sans-serif;    
}

